.cardTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article,
.model {
  font-size: 16px;
  font-weight: 500;
}

.article span,
.model span {
  font-weight: 400;
  color: #9C9C9C;
}

.availableBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.availableText {
  font-size: 18px;
  font-weight: 600;
}

.borderCard {
  border-bottom: 1px solid #E5E5E5;
}

/* ___________cardInfoMain_________ */

.cardInfoMain {
  padding: 50px 0;
}

.cardPriceBox {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.cardNewPrice {
  font-size: 36px;
  font-weight: 600;
}

.cardOldPrice {
  color: #9C9C9C;
  font-size: 23px;
  font-weight: 600;
  text-decoration: line-through;
}

.cardDiscount {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 5px;
}

.withTax {
  font-size: 12px;
  color: #9C9C9C;
  font-weight: 500;
}

.quantityDoods {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.quantityDoodsInput {
  width: 50px;
  height: 40px;
  text-align: center;
}

.quantityDoodsText {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 400;
}

.errorText {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 200;
}

.description {
  font-size: 17px;
  font-weight: 400;
  position: relative;
  padding-right: 20px;
}

.descriptionBtnBox {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.descriptionWrp {
  margin-bottom: 30px;
}

.descriptionWrp div:nth-child(even) {
  background-color: #F9F9F9;
}

.descriptionBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.descriptionTitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 47px;
  width: 170px;
}

.descriptionText {
  font-size: 13px;
  font-weight: 400;
  line-height: 47px;
}

.application,
.consultation {
  font-size: 14px;
  padding: 10px 30px;
  font-weight: 500;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.application {
  border: 1px solid #CACACA;
}

.cardBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
}

/* _____________cardSubTitleSection_________ */

.cardSubTitleBox {
  height: 50px;
  border-bottom: 4px solid #EDF3F3;
}

.cardSubTitleBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cardSubTitle {
  padding-right: 20px;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 4px solid #28553F;
}

.cardInfoTextBox {
  padding: 20px 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.productInfoText {
  padding: 10px 0;
}

.beforeCardSubTitle {
  padding-left: 30px;
  position: relative;
}

.beforeCardSubTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0%, 30%);
  width: 18px;
  height: 18px;
  background-image: url('../icon/productInfo.png');
  background-repeat: no-repeat;
}

.productInfoText {
  font-size: 16px;
  font-weight: 400;
}

.headerMenuCard.active {
  display: block;
  position: absolute;
  top: 150px;
  right: 0;
  width: 100%;
  background: #28553fe4;
  text-align: center;
  z-index: 99;
}

/* ________image-viewer________ */
.image-viewer {
  text-align: center;
}

.thumbnails {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.thumbnail {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* ______________slider_________ */
.cardSliderSection {
  padding: 50px 0;
}

.slideCardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cardSlide {
  justify-content: center !important;
}


.cardCarousel-btn-next {
  transform: translate(100%, -50%) !important;
}

.cardCarousel-btn-prev {
  transform: translate(0%, -50%) !important;
}

/* _______________________________ */

@media (max-width: 500px) {
  .cardCarousel-btn-next {
    transform: translate(0%, -50%) !important;
  }

  .descriptionTitle {
    font-size: 17px;
    line-height: 20px;
    width: 100px;
  }

  .descriptionText {
    font-size: 15px;
    line-height: 20px;
  }

  .cardBtns {
    justify-content: center;
    gap: 10px;
  }

  .application,
  .consultation {
    padding: 10px 90px;
  }

  .cardPriceBox {
    gap: 10px;
  }

  .cardDiscount {
    font-size: 13px;
    padding: 5px 5px;
  }

}