.catalogSortSection {
  border: 1px solid #E5E5E5;
}

.sortBox {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.grey {
  color: #9C9C9C;
}

.sortList {
  display: inline-block;
}

/* __________catalogCards_________ */
.catalogSection {
  padding: 50px 0;
}

.catalogCards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;
  margin-bottom: 40px;
}

.filter-menu {
  background-color: #F9F9F9;
  padding: 10px 10px;
}

.filter-subtitle::after,
.filter-title::after {
  content: "";
  display: inline-block;
  width: 12px;
  /* Укажите ширину иконки */
  height: 12px;
  /* Укажите высоту иконки */
  background-image: url('../icon/advantagesArrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 8px;

}

.filter-sublist li,
.filter-subtitle,
.filter-list li,
.filter-title {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

.colors {
  border-bottom: none !important;
}

.filter-list li a::before {
  content: "";
  display: inline-block;
  width: 12px;
  /* Укажите ширину иконки */
  height: 12px;
  /* Укажите высоту иконки */
  background-image: url('../icon/filter-sublist.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 8px;

}

.filter-list li a {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #9C9C9C;
}

.filter-title,
.filter-subtitle {
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
}

.filter-list {
  display: none;
}

.openfilterList {
  display: block;
}

.showMoreCards {
  text-align: end;
}

.showMoreCardsBTN {
  margin-right: 40px;
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.showMoreCardsBTN::after {
  content: "";
  width: 35px;
  height: 20px;
  background-image: url('../icon/showMoreCards.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .catalogCards {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 40px;
  }

  .filter-menu {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .catalogCards {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.hide {
  display: none;
}

.headerMenuCatalog.active {
  display: block;
  position: absolute;
  top: 150px;
  right: 0;
  width: 100%;
  background: #28553fe4;
  text-align: center;
  z-index: 99;
}